.wrapper{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 50px auto;
}

.btn{
  margin-bottom: 20px !important;
  background: #fff !important;
  display: flex !important;
  justify-content: flex-start !important;
  text-transform: none !important;
}

.icon{
  margin-right: 10px;
}
